/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/02/2016, 02:09:26 PM
    Author     : orcoliver
*/
body,html{
    border:0;
    background:url(/img/background.png) no-repeat center center fixed;
    height: 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    /*padding-bottom:56.25%;*/
}
.GDIJJBKCMAD {
    background: -webkit-linear-gradient(top, #004a87 0%, #004a87 100%);
    background: -o-linear-gradient(top, #004a87 0%, #004a87 100%);
    background: -ms-linear-gradient(top, #004a87 0%, #004a87 100%);
    background: linear-gradient(to bottom, #004a87 0%, #004a87 100%);
}
.GDIJJBKCOAD {
    background-color: #ffffff;
    border-color: #004a87;
}
.GDIJJBKCBCC {
    border-color: #126DAF;
    background-color: #3892d3;
    background: -webkit-linear-gradient(top, #919387 0%, #919387 50%, #919387 51%, #919387);
    background: -o-linear-gradient(top, #919387 0%, #919387 50%, #919387 51%, #919387);
    background: -ms-linear-gradient(top, #919387 0%, #919387 50%, #919387 51%, #919387);
    background: linear-gradient(to bottom, #919387 0%, #919387 50%, #919387 51%, #919387);
}